body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-itim: Itim;
  --font-satoshi: Satoshi;
  --font-inter: Inter;

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-sm-8: 13.8px;
  --font-size-6xl-7: 25.7px;
  --font-size-2xl: 21px;
  --font-size-mid-8: 17.8px;
  --font-size-26xl-9: 45.9px;
  --font-size-9xl: 28px;
  --font-size-18xl: 37px;
  --font-size-2xl-6: 21.6px;
  --font-size-mid: 17px;
  --font-size-8xl-2: 27.2px;
  --font-size-3xl: 22px;
  --font-size-44xl-8: 63.8px;
  --font-size-32xl: 51px;
  --font-size-24xl-2: 43.2px;
  --font-size-7xl: 26px;
  --font-size-16xl: 35px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-15xl: 34px;
  --font-size-8xl: 27px;
  --font-size-xl: 20px;
  --font-size-6xl-4: 25.4px;

  /* Colors */
  --color-gray-100: #8a8585;
  --color-gray-200: rgba(255, 255, 255, 0.25);
  --neutral-100: #fff;
  --color-mediumslateblue: #4461f2;
  --color-silver: #c7c7c7;
  --color-aliceblue: #eaf0f7;
  --neutral-600: #6f6c90;
  --color-slategray-100: #667085;
  --color-dimgray-100: #4f555a;
  --color-royalblue-100: #1678f2;
  --color-royalblue-200: #125fbf;
  --color-ghostwhite-100: #f3f3fd;
  --secondary-colors-color-2: #f2f1ff;
  --neutral-300: #eff0f7;
  --neutral-400: #d9dbe9;
  --color-black: #000;
  --color-darkgray: #b4b4b4;
  --color-darkslategray: #404040;

  /* Gaps */
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-base: 16px;
  --gap-29xl: 48px;
  --gap-2xl-6: 21.6px;
  --gap-7xs: 6px;
  --gap-22xl: 41px;

  /* Paddings */
  --padding-262xl: 281px;
  --padding-6xl: 25px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-37xl: 56px;
  --padding-9xl: 28px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-9xs: 4px;
  --padding-59xl: 78px;
  --padding-xl: 20px;
  --padding-6xs: 7px;
  --padding-26xl: 45px;
  --padding-sm: 14px;
  --padding-10xs-4: 2.4px;
  --padding-7xs: 6px;
  --padding-2xl: 21px;
  --padding-2xs-5: 10.5px;
  --padding-14xl: 33px;
  --padding-9xs-7: 3.7px;
  --padding-30xl: 49px;
  --padding-smi: 13px;

  /* Border radiuses */
  --br-26xl: 45px;
  --br-3xs-9: 9.9px;
  --br-11xs-1: 1.1px;
  --br-3xs-6: 9.6px;
  --br-mid-1: 17.1px;
  --br-21xl: 40px;
}
